/** @format */

.navbar ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 13px;
}

.header {
	/* min-height: 500px; */
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
		url(/images/trustees.jpg);
}

.text-box {
	text-align: center;
	top: 50%;
	font-size: 30px;
}

.founders {
	margin-top: 10rem;
}

/* .row {
	background-color: #161616;
	
} */

@media (max-width: 718px) {
	.navbar .fa {
		display: block;
		color: #f7f7f7;
		margin-top: 100px;
		margin: 5px;
		font-size: 22px;
		cursor: pointer;
	}
}
