/** @format */
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
.navbar ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 13px;
}
/*founders*/
.founders2 {
	width: 100%;
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	/* text-align: center; */
}
.bio{
	line-height: 30px;
}
.row2 {
	gap: 10px;
	width: 100%;
	padding: 0px 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.founders-col2 {
	border-radius: 10px;
	text-align: center;
	padding: 20px 15px;
	width: 100%;
	height: max-content;
}

.fnd {
	padding: 0px 3%;
	text-align: center;
}

.text-box {
	text-align: center;
	top: 50%;
	font-size: 30px;
}

.text-box h2 {
	font-family: "Castoro Titling", cursive;
	font-weight: 500;
}

.founders-col p {
	text-align: center;
}

.founders-col2 img {
	/* display: flex; */
	/* gap: 25px; */
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

@media (max-width: 718px) {
	.navbar .fa {
		display: block;
		color: #f7f7f7;
		margin-top: 100px;
		margin: 5px;
		font-size: 22px;
		cursor: pointer;
	}
	.founders-col2 p {
		text-align: left;
	}
}
